<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <title></title>
    <link rel="stylesheet" href="/static/layui/css/layui.css">
    <link rel="stylesheet" href="/static/css/admin.css">
</head>
<body class="layui-layout-body">
<div class="layui-layout layui-layout-admin" id="app">
    <div class="layui-header">
        <div class="layui-logo">web-admin</div>
        <ul class="layui-nav layui-layout-left">
            <li class="layui-nav-item" :class="level_1_sel_index == index?'layui-this':''"
                v-for="(item,index) in menus">
                <a href="javascript:;" v-if="item.children.length" @click="selMenu(index)">{{item.label}}</a>
            </li>
        </ul>
        <ul class="layui-nav layui-layout-right">
            <li class="layui-nav-item">
                <a href="javascript:;">
                    {:session('uname')}
                </a>
                <dl class="layui-nav-child">
                    <dd><a href="javascript:;" @click="repwd">修改密码</a></dd>
                </dl>
            </li>
            <li class="layui-nav-item"><a href="/admin/logout">退出</a></li>
        </ul>
    </div>
    <div class="layui-side layui-bg-black">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree" lay-filter="test">
                <li class="layui-nav-item layui-nav-itemed" v-for="(item,index) in options">
                    <template v-if="item.children.length">
                        <a href="javascript:;">{{item.label}}</a>
                        <dl class="layui-nav-child">
                            <dd v-for="(item2,index2) in item.children"
                                :class="level_2_sel_index == index && level_3_sel_index == index2?'layui-this':''"
                            >
                                <a href="javascript:;" :data-url="item2.url"
                                   @click="goView"
                                   :data-index="index" :data-index2="index2">{{item2.label}}
                                </a>
                            </dd>
                        </dl>
                    </template>
                </li>
            </ul>
        </div>
    </div>
    <div class="layui-body" style="overflow: hidden">
        <iframe :src="url" frameborder="0" id="container_iframe"></iframe>
    </div>
</div>
<script src="/static/layui/layui.js"></script>
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script type="text/javascript">
    var vue = new Vue({
        el: '#app',
        data: {
            url: '',
            menus: [],
            options: [],
            level_1_sel_index: 0,
            level_2_sel_index: 0,
            level_3_sel_index: 0,
        },
        methods: {
            layuiInit: function () {
                const root = this;
                layui.use(['form', "element"], function () {
                    root.layer = layui.layer
                    root.ele = layui.element
                });
            },
            repwd: function () {
                const content = '/admin/index/modifyPwd';
                this.layer.open({
                    type: 2,
                    title: '修改密码',
                    content: content,
                    area: ['500px', '320px'],
                    maxmin: true
                });
            },
            goView: function (e) {
                this.level_2_sel_index = e.target.dataset.index
                this.level_3_sel_index = e.target.dataset.index2
                this.url = e.target.dataset.url
            },
            selMenu: function (i) {
                this.level_1_sel_index = 0
                this.level_2_sel_index = 0
                this.level_3_sel_index = 0
                let option = this.menus[i].children
                this.level_1_sel_index = i
                this.options = option
                if (option.length) {
                    if (option[0].children) {
                        this.url = option[0].children[0].url
                    }
                }
            },
            loadData: function () {
                var root = this
                axios.post('/admin/index/getmenu', {}).then(function (res) {
                    if (res.data.list) {
                        root.menus = res.data.list
                        root.url = res.data.init_url
                        root.options = res.data.init_opt
                        root.level_2_sel_index = 0
                        root.level_3_sel_index = 0
                    }
                });
            }
        },
        created: function () {
            this.loadData()
        },
        mounted: function () {
            this.layuiInit()
        },
        updated: function () {
            this.ele && this.ele.init()
        }
    });
</script>
</body>
</html>