<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<link rel="stylesheet" href="/static/theme/index.css">
<script src="/static/js/axios.min.js"></script>
<script src="/static/js/vue.min.js"></script>
<script src="/static/js/elementui-index.js"></script>
<link rel="stylesheet" href="/static/css/elementui-common.css">
<style>
    #actions .el-form-item {
        margin: 18px 0px;
    }
</style>
<body>
<div id="app">
    <fieldset class="layui-elem-field layui-field-title">
        <legend>菜单权限列表</legend>
    </fieldset>
    <el-form :inline="true" ref="form" :rules="rules" :model="form">
        <el-form-item label="控制器" prop="curr_controller">
            <el-select placeholder="请选择" v-model="form.curr_controller" @change="loadActions">
                <el-option
                        v-for="item in controllers"
                        :label="item"
                        :value="item">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item label="菜单名称" prop="menu_name">
            <el-input placeholder="请输入菜单名称" v-model="form.menu_name"></el-input>
        </el-form-item>
        <el-form-item label="归属" prop="menu_fid">
            <el-select placeholder="请选择" v-model="form.menu_fid"
                       v-model="form.menu_fid"
                       filterable
                       allow-create>
                <el-option
                        v-for="item in super_menu"
                        :key="item.id"
                        :label="item.name"
                        :value="item.id">
                </el-option>
            </el-select>
        </el-form-item>
        <el-form-item>
            <el-button type="primary" @click="onSubmit('form')">保存</el-button>
        </el-form-item>
        <div id="actions">
            <el-table
                    :data="form.curr_actions"
                    style="width: 100%">
                <el-table-column fixed width="150"
                                 label="方法">
                    <template slot-scope="scope">
                        <span>{{scope.row.action }}</span>
                    </template>
                </el-table-column>
                <el-table-column width="150"
                                 label="菜单名称">
                    <template slot-scope="scope">
                        <el-form-item label=""
                                      :prop="'curr_actions.' + scope.$index + '.name'"
                                      :rules="[{ required: true, message: '菜单名称不能为空'}]">
                            <el-input v-model="scope.row.name"></el-input>
                        </el-form-item>
                    </template>
                </el-table-column>
                <el-table-column width="150"
                                 label="备注">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.remark"></el-input>
                    </template>
                </el-table-column>

                <el-table-column width="80"
                                 label="显示">
                    <template slot-scope="scope">
                        <el-switch :inactive-value=0 :active-value=1
                                   @change="handleChange(scope.row)"
                                   v-model="scope.row.is_display">
                        </el-switch>
                    </template>
                </el-table-column>
                <el-table-column width="110"
                                 label="打开方式">
                    <template slot-scope="scope">
                        <el-select v-model="scope.row.display_type">
                            <el-option
                                    label="常规"
                                    :value="1">
                            </el-option>
                            <el-option
                                    label="新标签"
                                    :value="2">
                            </el-option>
                            <el-option
                                    label="弹窗"
                                    :value="3">
                            </el-option>
                        </el-select>
                    </template>
                </el-table-column>
                <el-table-column width="80"
                                 label="校验">
                    <template slot-scope="scope">
                        <el-switch :inactive-value=0 :active-value=1
                                   @change="handleChange(scope.row)"
                                   v-model="scope.row.is_check">
                        </el-switch>
                    </template>
                </el-table-column>

                <el-table-column width="100"
                                 label="排序">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.sort_num"></el-input>
                    </template>
                </el-table-column>
                <el-table-column width="80"
                                 label="状态">
                    <template slot-scope="scope">
                        <el-switch :inactive-value=0 :active-value=1
                                   @change="handleChange(scope.row)"
                                   v-model="scope.row.status">
                        </el-switch>
                    </template>
                </el-table-column>

                <el-table-column width="150"
                                 label="参数">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.params"></el-input>
                    </template>
                </el-table-column>

                <el-table-column width="150"
                                 label="图标">
                    <template slot-scope="scope">
                        <el-input v-model="scope.row.icon"></el-input>
                    </template>
                </el-table-column>
            </el-table>
        </div>
    </el-form>
</div>
<script src="/static/js/jquery-1.9.1.min.js"></script>
<script src="/static/layer/layer.js"></script>
<script>
    var app = new Vue({
        el: "#app",
        data: {
            options: [{
                value: '11',
                label: 'HTML'
            }, {
                value: '22',
                label: 'CSS'
            }, {
                value: '33',
                label: 'JavaScript'
            }],
            controllers: [],
            super_menu: [],
            form: {
                curr_controller: "",
                curr_actions: [],
                menu_name: '',
                menu_fid: '',
            },
            rules: {
                curr_controller: [{required: true, message: '请选择控制器', trigger: ['blur', 'change']}],
                menu_name: [{required: true, message: '请输入菜单名称', trigger: 'blur'}],
                menu_fid: [{required: true, message: '请选择归属', trigger: ['blur', 'change']}],
            },
        },
        methods: {
            loadController: function () {
                const root = this;
                axios.post('/admin/menu/getControllers', {}).then(function (res) {
                    root.controllers = res.data
                });
            },
            loadActions: function (controller) {
                const root = this;
                axios.post('/admin/menu/getActions', {controller: controller}).then(function (res) {
                    root.form.curr_actions = res.data
                });
            },
            loadSuperMenu: function () {
                const root = this;
                axios.post('/admin/menu/getSuperMenu', {}).then(function (res) {
                    root.super_menu = res.data
                });
            },
            onSubmit(formName) {
                this.$refs[formName].validate((valid) => {
                    if (valid) {
                        var root = this
                        console.log(this.form)
                        axios.post('/admin/menu/edit', this.form).then(function (res) {
                            if (res.data.status === "success") {
                                root.$message({
                                    message: "保存成功",
                                    type: 'success'
                                });
                            } else if (res.data.message != undefined) {
                                root.$message.error(res.data.message);
                            }
                        });
                    }
                })
            },
        },
        created: function () {
            this.loadController()
            this.loadSuperMenu()
        }
    })
</script>
</body>
</html>